<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Abani</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item items active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item items">
        <a class="nav-link" href="#">Men</a>
      </li>
      <li class="nav-item items">
        <a class="nav-link" href="#">Woman</a>
      </li>
      <li class="nav-item items">
        <a class="nav-link" href="#">FOOTWEAR</a>
      </li>
      <li class="nav-item items">
        <a class="nav-link" href="#">Collections</a>
      </li>
      <li class="nav-item items">
        <a class="nav-link" href="#">portfolio</a>
      </li>
      <li class="nav-item items">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
    <div class="iconlist my-2 my-lg-0">
    <ul class=" navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item icon">
        <a class="nav-link " href="#" >
          <i class="fa fa-search"> 
          </i>
        </a>
      </li>
      <li class="nav-item icon">
        <a class="nav-link" href="#">
          <i class="fa fa-cog ">
          </i>
        </a>
      </li>
      <li class="nav-item icon">
        <a class="nav-link" href="#">
            <i class="fa fa-shopping-bag">
          </i>
        </a>
      </li>
      <li class="nav-item icon">
        <a class="nav-link" href="#">
          <i class="fa fa-bell">
            <span class="badge badge-info"></span>
          </i>
        </a>
      </li>
    </ul>
    </div>
  </div>
</nav>


<ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/header.png" alt="Random first slide">
    </div>
    
    <div class="carousel-caption">
        <h1>Sale</h1>
        <p class="title">Extra <span >30%</span> off</p>
        <p class="subtitle">when you buy from 2 or more...</p>
        <p class="anchor"> <i class="fa fa-anchor"></i></p>
        <button class="btn">Shop Now</button>
      </div>
  
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/header.png" alt="Random second slide">
    </div>
    <div class="carousel-caption">
        <h1>Sale</h1>
        <p class="title">Extra <span >30%</span> off</p>
        <p class="subtitle">when you buy from 2 or more...</p>
        <p class="anchor"> <i class="fa fa-anchor"></i></p>
        <button class="btn">Shop Now</button>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/header.png" alt="Random third slide">
    </div>
    <div class="carousel-caption">
        <h1>Sale</h1>
        <p class="title">Extra <span >30%</span> off</p>
        <p class="subtitle">when you buy from 2 or more...</p>
        <p class="anchor"> <i class="fa fa-anchor"></i></p>
        <button class="btn">Shop Now</button>
      </div>
  </ng-template>
</ngb-carousel>