<footer>
  <div class="container">
          <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12 Abani">
                          <h3>Abani</h3>
                          <span class="line"></span>
                          <ul class="list-unstyled">
                            <li>
                              <i class="marked fas fa-map-marker-alt"></i>
                             <span> ANY STREET, 126BM ROSITOWER NEWYORK, USA</span>
                            </li>
                             <li>
                              <i class=" far fa-envelope-open"></i>
                              <span class="contact">contact@abanistore.com</span>
                            </li>
                            <li>
                              <i class="fas fa-phone-alt"></i>
                             <span> PHONE: +84 912. 345. 678</span>
                            </li>
                    </ul>
                          <i class="footer-icon fab fa-facebook-f"></i>
                          <i class="footer-ico twitter fab fa-twitter" style="color: #fff !important;background: #55acee !important;"></i>
                          <i class="footer-icon fab fa-youtube"></i>
                          <i class="footer-icon fas fa-camera"></i>
                          
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                          <h3> Userful links</h3>
                          <span class="line"></span>

                          <ul class="list-styled">
                                  <li>
                                   
                                    My Account
                                  </li>
                                   <li>
                                    Internet-Based Ads
                                  </li>
                                  <li>
                                    Orders and Returns
                                  </li>
                                   <li>
                                    Terms of Use
                                  </li>
                                  <li>
                                    Shipping Information
                                  </li>
                                  <li>
                                    Gift Voucher
                                  </li>
                          </ul>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <h3> Customer care</h3>
                    <span class="line"></span>

                    <ul class="list-styled">
                            <li>
                             
                              About Us
                            </li>
                             <li>
                              Terms &amp; Condition
                            </li>
                            <li>
                              Privacy Policy
                            </li>
                             <li>
                              Sale &amp; Special Offers
                            </li>
                            <li>
                              Contact Us  
                            </li>
                            <li>
                              Return Policy
                            </li>
                    </ul>
            </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <h3>Featured News</h3>
                    <span class="line"></span>
                    <div class="feature">
                      <div class="image">
                    <img src="../../assets/featured1.png">
                  </div>
                    <ul class="details">
                      <li>
                          Mauris bandit aliqut elit
                      </li>
                      <li>
                          11 hours ag
                      </li>
                    </ul>
                    </div>
                    <div class="feature">
                        <div class="image">
                      <img src="../../assets/featured2.png">
                    </div>
                      <ul class="details">
                        <li>
                            Reget felis volutpat
                        </li>
                        <li>
                            11 hours ag
                        </li>
                      </ul>
                      </div>
                      <div class="feature">
                          <div class="image">
                        <img src="../../assets/featured3.png">
                      </div>
                        <ul class="details">
                          <li>
                              Praesent sapien massa  convalli
                          </li>
                          <li>
                              11 hours ag
                          </li>
                        </ul>
                        </div>
                    
                    
                  
                  </div>
          </div>
  </div>
</footer>