.title
{
    text-align: center;
}
h2.new
{
    font-size: 30px;
    color: #242628;
    text-transform: uppercase;
    padding: 7px 0 0;
}
.tabs
{
    text-align: center;
}

ul.tabsstar
{
    text-align: center;
    border: 0;
    margin: 35px 0 50px!important;
    position: relative;
    font-weight: 400;
}
.tabsstar .item
{
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0;
}


.tabsstar .item.active .tabtitle ,.tabsstar .item:hover .tabtitle
{
    color: #955251;
}
.item:first-child .tabtitle {
    background-image: none;
}
.tabtitle {
    font-weight: 500;
    color: #242628;
    font-size: 18px;
    background-image: url(../../assets/star.png);
    background-position: 0 7px;
    background-repeat: no-repeat;
    padding: 0 30px 0 40px;
    cursor: pointer;
}
.tabtitle:after {
    
    background: #955251;
    bottom: -2px;
    content: " ";
    height: 2px;
    left: 25px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 60px;
    z-index: 2;
    right: 0;
}

.tabsstar .item.active .tabtitle::after , .tabsstar .item:hover .tabtitle::after
{
    opacity: 1;
    visibility: visible;
    left: 40px;
}


  .customNavigation{
    text-align: center;
  }
 a.btn{

    border: 1px solid #242628;
    height: 25px;
    line-height: 0px;
    width: 25px;
    color: #242628;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 0;
    margin-right: 7px;
 }
 a.btn:hover
 {
    background-color: #b86f6f;
    color: #fff;
    border: 1px solid #b86f6f;

 }
 
  .content
  {
    width: 85%;
    margin: 0px auto;
    height: 100%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .product
  {
    position: relative;
    margin-right: 20px;
    
  }

  .detailsbar{
    padding: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    text-align: center;
    bottom: 0px;
    z-index: 10;
    opacity: 1;
  }
  .product:hover .detailsbar
  {
      visibility:visible;
  }
  .product:hover .productdetail
  {
      border: solid;
      border-width: 0px 1px 1px 1px; 
      border-color : #e2e3e3;
    
  }
  .button.btn-cart {
    float: left!important;
    background-color: #b36a6a;
    width: 59%;
    border: 0;
    color: #fff;
}
.button.btn-cart span
{
 
    line-height: 34px;
    font-weight: 400;
    vertical-align: middle;
    height: 35px;
    font-size: 12px;
}
.button.btn-cart span i 
{
    width: 33%;
    height: 35px;
    line-height: 34px;
    overflow: hidden;
    vertical-align: middle;
}
.icons {
    padding-right: 5px;
    background-color: transparent;
    font-size: 16px;
}
.detailsbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 41%;
    float: left!important;

    
}
.detailsbar ul li
{
    float: left!important;
    width: 33%;
    height: 38px;
    line-height: 34px;
    border-left: 1px solid #d18e89;
    overflow: hidden;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    vertical-align: middle;
    background-color: #c17d7d;
}
.detailsbar li a , li i
{
    width: 100%;
    font-size: 16px;
    display: block;
    color: #fff;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
}
.image
{
    position: relative;
}

.product-name
{
    margin: 0 0 5px;
}
.product-name p 
{
    font-size: 15px;
    font-weight: 100;
    text-transform: capitalize;
   
}
.productdetail
{
    padding: 15px 0 25px;
    text-align: center;
    width: 100%;
}
.price
{
color: #3b3b39;
margin-bottom: 8px;
}
.regular-price
{
    margin-top: 8px;
}

.beforsale
{
    font-weight: 100;
    color: #ccc;
    text-decoration: line-through;
    font-size: 15px;
    line-height: 0;
}
.sticker
{
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 20;
}
img
{
    width: 100%;
}
@media (max-width: 767px)
{
.image img {
    width: 100%;
}}



@media only screen and (min-width: 768px) and (max-width: 1280px){
    
    .button.btn-cart span{font-size: 10px;}
  } 