<div class="container">

<div class="title">
  <h2 class="new">
    New Arrival
  </h2>
</div>
<div class="customNavigation">
  <a class="btn prev"><span ><i class="fa fa-angle-left"></i></span></a>
  <a class="btn next"><i class="fa fa-angle-right"></i></a>
</div>
<div class="Newproduct">
  <div class="tabs">
    <ul class="tabsstar" >
      <li class="item"  *ngFor="let title of titles;let i = index" [ngClass]="{'active' : i == 0 }"><span class ="tabtitle">{{title}}</span></li>
    </ul>
  </div>


  <div class="content "> 
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product ">
              <div class="image">
                <a href="#" title="Clemence Blouse" class="product-image">
                  <img class="img-responsive" src="../../assets/new 08.png"  /> 
                </a>
        
                <div class="detailsbar"> 
                  <button type="button" class="button btn-cart ">
                    <span>
                      <i class="fa fa-shopping-bag "></i>
                      <span>Add to Cart</span>
                    </span>
                  </button>
        
        
                  <ul>
                    <li >
                      <a href="#"><i class="fa fa-heart icons"></i></a>
                    </li>
                    <li >
                    
                      <a href="#" ><i class="fa fa-file icons"></i></a>
                    </li>
                    <li> 
                      <a href="#"><i class="fa fa-search  icons"></i></a>
                    </li>
                  </ul>
                </div>
        </div>
                <div class="productdetail clearfix">
                    <h2 class="product-name">
                      <p>Basia Tee in Strip</p>
                    </h2>
                    <div class="price-box"> 
                      <p class="regular-price" >
                        <span class="price">&#8356;165.00</span>
                      </p>
                    </div>
                  </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product ">
              <div class="image">
                  <span class="sticker">
                  <img class="img-responsive" src="../../assets/icon new.png"/> 
                      
                    </span>
                <a href="#" title="Clemence Blouse" class="product-image">
                  <img class="img-responsive" src="../../assets/new 07.png" /> 
                </a>
        
                <div class="detailsbar"> 
                  <button type="button" class="button btn-cart ">
                    <span>
                      <i class="fa fa-shopping-bag "></i>
                      <span>Add to Cart</span>
                    </span>
                  </button>
        
        
                  <ul>
                    <li >
                      <a href="#"><i class="fa fa-heart icons"></i></a>
                    </li>
                    <li >
                    
                      <a href="#" ><i class="fa fa-file icons"></i></a>
                    </li>
                    <li> 
                      <a href="#"><i class="fa fa-search  icons"></i></a>
                    </li>
                  </ul>
                </div>
        </div>
                <div class="productdetail clearfix">
                    <h2 class="product-name">
                      <p>Mads Norgaard</p>
                    </h2>
                    <div class="price-box"> 
                      <p class="regular-price" >
                        <span class="price">&#8356;145.00</span>
                      </p>
                    </div>
                  </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product ">
              <div class="image">
                <a href="#" title="Clemence Blouse" class="product-image">
                  <img class="img-responsive" src="../../assets/new 06.png"  /> 
                </a>
        
                <div class="detailsbar"> 
                  <button type="button" class="button btn-cart ">
                    <span>
                      <i class="fa fa-shopping-bag "></i>
                      <span>Add to Cart</span>
                    </span>
                  </button>
        
        
                  <ul>
                    <li >
                      <a href="#"><i class="fa fa-heart icons"></i></a>
                    </li>
                    <li >
                    
                      <a href="#" ><i class="fa fa-file icons"></i></a>
                    </li>
                    <li> 
                      <a href="#"><i class="fa fa-search  icons"></i></a>
                    </li>
                  </ul>
                </div>
        </div>
                <div class="productdetail clearfix">
                    <h2 class="product-name">
                      <p>Yoke Long Dress Collage</p>
                    </h2>
                    <div class="price-box"> 
                      <p class="regular-price" >
                        <span class="price">&#8356;390.99</span>
                      </p>
                    </div>
                  </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product ">
              <div class="image">
                  <span class="sticker">
                      <img class="img-responsive" src="../../assets/icon hot.png"/> 
                          
                        </span>
                <a href="#" title="Clemence Blouse" class="product-image">
                  <img class="img-responsive" src="../../assets/new 05.png"  /> 
                </a>
        
                <div class="detailsbar"> 
                  <button type="button" class="button btn-cart ">
                    <span>
                      <i class="fa fa-shopping-bag "></i>
                      <span>Add to Cart</span>
                    </span>
                  </button>
        
        
                  <ul>
                    <li >
                      <a href="#"><i class="fa fa-heart icons"></i></a>
                    </li>
                    <li >
                    
                      <a href="#" ><i class="fa fa-file icons"></i></a>
                    </li>
                    <li> 
                      <a href="#"><i class="fa fa-search  icons"></i></a>
                    </li>
                  </ul>
                </div>
        </div>
                <div class="productdetail clearfix">
                    <h2 class="product-name">
                      <p>Ori top in white Denim</p>
                    </h2>
                    <div class="price-box"> 
                      <p class="regular-price" >
                        <span class="price">&#8356;225.00</span>
                      </p>
                    </div>
                  </div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product ">
              <div class="image">
                <a href="#" title="Clemence Blouse" class="product-image">
                  <img class="img-responsive" src="../../assets/new 04 .png"  /> 
                </a>
        
                <div class="detailsbar"> 
                  <button type="button" class="button btn-cart ">
                    <span>
                      <i class="fa fa-shopping-bag "></i>
                      <span>Add to Cart</span>
                    </span>
                  </button>
        
        
                  <ul>
                    <li >
                      <a href="#"><i class="fa fa-heart icons"></i></a>
                    </li>
                    <li >
                    
                      <a href="#" ><i class="fa fa-file icons"></i></a>
                    </li>
                    <li> 
                      <a href="#"><i class="fa fa-search  icons"></i></a>
                    </li>
                  </ul>
                </div>
        </div>
                <div class="productdetail clearfix">
                    <h2 class="product-name">
                      <p>Band Ring Cone Emimade</p>
                    </h2>
                    <div class="price-box"> 
                      <p class="regular-price" >
                        <span class="price">&#8356;280.00</span>
                      </p>
                    </div>
                  </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product ">
              <div class="image">
                <a href="#" title="Clemence Blouse" class="product-image">
                  <img class="img-responsive" src="../../assets/new 03.png"  /> 
                </a>
        
                <div class="detailsbar"> 
                  <button type="button" class="button btn-cart ">
                    <span>
                      <i class="fa fa-shopping-bag "></i>
                      <span>Add to Cart</span>
                    </span>
                  </button>
        
        
                  <ul>
                    <li >
                      <a href="#"><i class="fa fa-heart icons"></i></a>
                    </li>
                    <li >
                    
                      <a href="#" ><i class="fa fa-file icons"></i></a>
                    </li>
                    <li> 
                      <a href="#"><i class="fa fa-search  icons"></i></a>
                    </li>
                  </ul>
                </div>
        </div>
                <div class="productdetail clearfix">
                    <h2 class="product-name">
                      <p>Shadow Jumpsuit</p>
                    </h2>
                    <div class="price-box"> 
                      <p class="regular-price" >
                        <span class="price">&#8356;173.99</span>
                      </p>
                    </div>
                  </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product ">
              <div class="image">
                <a href="#" title="Clemence Blouse" class="product-image">
                  <img class="img-responsive" src="../../assets/new 02.png"  /> 
                </a>
        
                <div class="detailsbar"> 
                  <button type="button" class="button btn-cart ">
                    <span>
                      <i class="fa fa-shopping-bag "></i>
                      <span>Add to Cart</span>
                    </span>
                  </button>
        
        
                  <ul>
                    <li >
                      <a href="#"><i class="fa fa-heart icons"></i></a>
                    </li>
                    <li >
                    
                      <a href="#" ><i class="fa fa-file icons"></i></a>
                    </li>
                    <li> 
                      <a href="#"><i class="fa fa-search  icons"></i></a>
                    </li>
                  </ul>
                </div>
        </div>
                <div class="productdetail clearfix">
                    <h2 class="product-name">
                      <p>Novelaa Large in Natural</p>
                    </h2>
                    <div class="price-box"> 
                      <p class="regular-price" >
                        <span class="price">&#8356;396.00</span>
                      </p>
                    </div>
                  </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product ">
              <div class="image">
                  <span class="sticker">
                      <img class="img-responsive" src="../../assets/icon.png"/> 
                          
                        </span>
                <a href="#" title="Clemence Blouse" class="product-image">
                  <img class="img-responsive" src="../../assets/new 01.png"  /> 
                </a>
        
                <div class="detailsbar"> 
                  <button type="button" class="button btn-cart ">
                    <span>
                      <i class="fa fa-shopping-bag "></i>
                      <span>Add to Cart</span>
                    </span>
                  </button>
        
        
                  <ul>
                    <li >
                      <a href="#"><i class="fa fa-heart icons"></i></a>
                    </li>
                    <li >
                    
                      <a href="#" ><i class="fa fa-file icons"></i></a>
                    </li>
                    <li> 
                      <a href="#"><i class="fa fa-search  icons"></i></a>
                    </li>
                  </ul>
                </div>
        </div>
                <div class="productdetail clearfix">
                    <h2 class="product-name">
                      <p>Bevel Top in White</p>
                    </h2>
                    
                      <p class="regular-price" >
                        <span class="price"> &#8356;386.00</span>
                      </p>
                      <p class="beforsale">
                          &#8356;415.00
                      </p>
                  
                  </div>
              </div>
        </div>
      </div>
      
      
      
      

  
  </div>
  </div>
</div>

  
