<div class="question">
  <div class="container">
    <div class="main">
      
        <div class="collapsible mobile-collapsible">
          <div class="block-newletter">
            <div class="block block-subscribe">
              <form action="#" method="post" id="newsletter-validate-detail">
                <div class="block-content">
                  <div class="form-subscribe-header">
                    <p>Do You Want  <span>Discover Us?  </span>Just Subscribe Now!</p>
                  </div>
                  <div class="input-box">
                    <input type="text" name="email" id="newsletter" class=" input-text"placeholder=" email address ..."/>
                  </div>
                  <div class="actions">
                    <button type="submit"  class="button">
                      <span><i class="fa fa-play"></i></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      
    </div>
  </div>
</div>