<div class="container-fluide" >
  
  <app-header *ngIf="ComponentList.includes('header')"></app-header>
  <app-collectionitems *ngIf="ComponentList.includes('collectionitems')"></app-collectionitems>
  <app-newarrival *ngIf="ComponentList.includes('newarrival')"></app-newarrival>
  <app-deal *ngIf="ComponentList.includes('deal')"></app-deal>
  <app-trending *ngIf="ComponentList.includes('trending')"></app-trending>
  <app-threeblock *ngIf="ComponentList.includes('threeblock')"></app-threeblock>
  <app-brands *ngIf="ComponentList.includes('brands')"></app-brands>
  <app-question *ngIf="ComponentList.includes('question')"></app-question>
  <app-footer *ngIf="ComponentList.includes('footer')"></app-footer>
  <app-copyright *ngIf="ComponentList.includes('copyright')"></app-copyright>
</div>
