<div class="row highlight">
  <div class="col-8">
    <div class="row">
      <div class="col-5 item">
        <img src="../../assets/05.png" class="img-responsive " >
      </div>
      <div class="col-7 item" >
          <img src="../../assets/01.png" class="img-responsive " style=" height: 97%;">
      </div>
    </div>

    <div class="row" >
      <div class="col-8 item">
            <img src="../../assets/03.png" class="img-responsive" style=" height: 85%;">
        </div>
        <div class="col-4 item">
          <img src="../../assets/02.png" class="img-responsive " style=" height: 85%;">
        </div>
        
      </div>
  </div>
  <div class="col-4 item">
      <img src="../../assets/04.png" class="img-responsive " style=" height: 92%;">

  </div>
</div>