<div class="block">
    <img class="img-responsive" alt="" src="../../assets/deal.png" />
    <div class="deal">
      <div class="container">
        <div class="header">
          <h2 class="title">Deal of the day</h2>
          <span class="sub-title">Elegant products many people waiting and crave</span>
        </div>
        <div class="detail">
                <ul class="countdown">
                    <li>
                      <span class="days">00</span>
                      <p class="days_ref">days</p>
                    </li>
                    <li>
                      <span class="hours">00</span>
                      <p class="hours_ref">hours</p>
                    </li>
                    <li>
                      <span class="minutes">00</span>
                      <p class="minut">mins</p>
                    </li>
                    <li>
                      <span class="seconds last">00</span>
                      <p class="second">secs</p>
                    </li>
                  </ul>
          <div class="clearfix">
            <div class="price-box">
              <p class="current-price">
                <span class="price"> &#8356;170.00 </span>
              </p>
              <p class="old-price">
                <span class="price"> &#8356;178.00 </span>
              </p>
              <p class="discount">
                Discount: 4%
              </p>
            </div>
            <div class="shop-now"><a href="#" > Shop Now </a></div>
          </div>
        
      </div>
    </div><!--- .deal-->
  </div><!-- .deal-of -->